:root {
  --halfbold-sans: "Inter Half";
  --halfbold-serif: "Source Serif 4 Half";
  --halfbold-mono: "JetBrainsMono Nerd Font Half";
}

* {
  text-rendering: optimizeLegibility !important;
  font-feature-settings: "calt" 1 !important;
}

:where(
    *:not(pre, code, kbd, samp, textarea, i, .fa, [class*="icon"], [class*="Icon"]):not(
        pre *,
        code *,
        textarea *
      )
  ) {
  font-family: var(--halfbold-sans), sans-serif !important;
}

:is(pre, code, kbd, samp, textarea),
:is(pre, code, kbd, samp) * {
  font-family: var(--halfbold-mono), monospace !important;
}
